<div class="widget tag">
<h3 class="title">阿牛</h3>
<ul class="entry">
<li>现状：现就业于淘宝网</li>
<li>方向：iOS, Windows, Objective-C, C++</li>
<li>Github：<a href="https://github.com/arbullzhang">https://github.com/arbullzhang</a>
<li>QQ：153139715</li>
</ul>
</div>

